<html>
    <head>
        <title>File Manager - Login</title>
    </head>
    <body>
        <form action="/login" method="post">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Username">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Password">
            <button type="submit">Login</button>
            <a href="/sign-up">Sign Up</a>
        </form>
    </body>
</html>